@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Itim&display=swap');

* {
    font-family: 'Itim';
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: rgb(18, 17, 32);
}

#AboutMe, #Socials {
    background: rgb(18, 17, 32);
}

#AbtCard {
    filter: drop-shadow(0px 10px 40px #702FD2);
}

#SocCard {
    filter: drop-shadow(0px 30px 40px #702FD2);
}

